.find-loads{
    display: block;
    width: 100%;
    background-color: $blue;
    padding: 2rem;
    box-shadow: 0 4px 4px rgba($black, .25);
    margin-bottom: 5rem;    
}
.find-loads__wrapper{
    display: flex;
    justify-content: space-between;
}
.find-loads__left{
    display: flex;
    flex-grow: 1;
}
.find-loads__font{
    color: $white;
}
.find-loads__item{
    margin-right: 2rem;
        :active, :hover, :focus {
            outline: 0;
            outline-offset: 0;
        }
}
.find-loads__form input{
    border-radius: 1rem;
    padding: 1rem 1rem;
}
// width for serch form ----------
.find-loads__city{
    display: block;
    width: 30rem;
}
.find-loads__dh{
    display: block;
    width: 8rem;
}

// search button -------------
.find-loads__right{
    margin-top: 3.5rem;
}
.find-loads__btn{
    padding: 1rem 3rem;
    background-color: $green;
    color: $secondary;
    font-weight: 600;
    border-radius: 1rem;
    transition: .25s all;
        &:hover{
            background-color: darken($color: $green, $amount: 5%);
            color: $white;
            box-shadow: 2px 4px 4px rgba($black, .25);    

        }
}
// stats ------------------
.find-loads__state {
    display: block;
    border-radius: 1rem;
    padding: 1rem 1rem;
    width: 6rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.find-loads__type{
    width: 9rem;
}
// cange direction -------
.find-loads__change-direction{
    display: flex;
}



