.header__menu{
    display: flex;
    justify-content: space-between;
    margin: 1rem 5rem;    
}
.header__menu a {
    color: $dark-gray;
    font-weight: 600;
        &:hover{
            color: lighten($color: #211F20, $amount: 30%);
        }

}
.header__menu-left {
    display: flex;
}
.header__menu-item {
    margin-left: 2rem;

}