
/* mobile-------------------------------- */
.main-contacts__mobile {
display: none;
}
/* -------------------------------------*/
/* 1300------------------------------------- */
@media screen and (max-width: 1300px) {
    .main__menu-item a{
        font-size: .8rem;
    }
    // width for serch form ----------
    .find-loads__city{
        display: block;
        width: 20rem;
    }    
    
}
// 1100 -----------
@media screen and (max-width: 1100px) {
    .advanced{
        display: none;
    }    
    // width for serch form ----------
    .find-loads__city{
        display: block;
        width: 15rem;
    }
}
/* 1024------------------------------------- */
@media screen and (max-width: 1030px) {
//partition header main menu--------
.header__menu-item a{
    font-size: 1.2rem;;
}
// -----------------
.main__menu-list, .search-icon{
    display: none;
}
.loads__head-advanced{
    display: none;
}
.main__manu-logo{
    width: 60%;
}
// find-loads ----------
.find-loads{
    text-align: center;
}
.find-loads__wrapper, .find-loads__left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
// width for serch form ----------
.find-loads__city{
    display: block;
    width: 28rem;
}
.find-loads__btn{
    margin-right: 2.5rem;
}
/* mobile ----------------------------- */

.main-contacts__mobile {
    display: block;
}
.menu {
    margin-top: -6.5rem;
    width: 100%;
    color: #000;
    padding-right: 2rem;
}
.menu-list {
    text-transform: uppercase;
    width: 100%;
}
.menu-list__item a {
    display: block;
}
.menu-list__item {
    border-bottom: 1px solid #fafafa;
    padding: 1.5em 0 0.5em;
    transition: 0.25s all;
}
.menu-list__item:hover {
    color: #17a1e0;
}
/* menu burger---------------- */
.menu-icon-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 30px;
    cursor: pointer;
    padding: 40px 0;
}
.menu-list {
    display: none;
}
/* хрестик----------------------- */
.menu-icon {
    position: relative;
    width: 30px;
    height: 5px;
    background-color: #17a1e0;
}
.menu-icon::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: "";
    width: 30px;
    height: 5px;
    background-color: #17a1e0;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.menu-icon::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: "";
    width: 30px;
    height: 5px;
    background-color: #17a1e0;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.menu-icon.menu-icon-active {
    background-color: transparent;
}
.menu-icon.menu-icon-active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.menu-icon.menu-icon-active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
/* main-forms--------------------------- */
.main-forms {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
}
.main-forms__hover {
    display: flex;
    align-items: center;
    background-color: #fafafa;
    height: 5rem;
    white-space: nowrap;
    font-size: 0.8em;
}

/* main-menu---------------------- */
.main-manu {
    display: none;
}
.main-invitation {
    margin-top: 1rem;
}
/* ------------------------------- */
.welcome-descriptiopn__text {
    width: 100%;
}

}
@media screen and (max-width: 860px) {


}
/* 768------------------------------------- */
@media screen and (max-width: 768px) {

}