.search{
    display: block;
    max-width: 30rem;
    width: 100%;

}
.search__input{
    display: block;
    position: relative;
    width: 100%;    
    font-family: inherit;
    font-size: 1.4rem;
    padding: 1.8rem 2rem;
    background: transparent;
    padding-left: 2rem;
    border: none;
    // Забираю рамку при натисканні на кнопку:
        &:active, &:focus {
            outline: none;
            color: $dark-gray;
        }
        &::placeholder{
            color: $dark-gray;
        }
}

.search-icon{
    position: relative;
    padding-right: 3rem;
    border: none;
    &:hover{
        background-color: rgba($color: $light-gray, $alpha: .4) ;
        border-radius: 5px;
    }
    &::after{
        content: url("../images/icons/search-solid.svg");
        position: absolute;
        // background: url("../images/icons/search-solid.svg") no-repeat;
            width: 2rem;
            height: 2rem;
            // left: 100%;
            top: 1.7rem;
            right: 2rem;
            border: 1px solid transparent;
            // padding-left: 1rem;
    }
}
