<!DOCTYPE html>
<html lang="uk">
<head>
    {{> head }}
</head>
<body>
    <div class="page">
        {{> header }}   
        <main class="main">
            {{> body }}
        </main>
        {{> footer }}
    </div>

    <script src="assets/js/app.js"></script>

    <!-- Add loads --------- -->
    <script>
        function AddLoad() {
          document.getElementById("mySidenavAdd").style.width = "67%";
        }
        
        function closeAdd() {
          document.getElementById("mySidenavAdd").style.width = "0";
        }
    </script>

<!-- Load info -->
    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "67%";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</body>
</html>
