<!DOCTYPE html>
<html lang="uk">
<head>
    {{> head }}
</head>
<body>
    <div class="page">
        {{> header }}   
        <main class="main">
            {{> body }}
        </main>
        {{> footer }}
    </div>
    <script src="assets/js/app.js"></script>
    

    <!-- burger menu  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      
    

    <!-- Add loads --------- -->
    <script>
        function AddLoad() {
          document.getElementById("mySidenavAdd").style.width = "67%";
        }
        
        function closeAdd() {
          document.getElementById("mySidenavAdd").style.width = "0";
        }
    </script>

    <!-- Load info -->
    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "97.5%";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
    </script>

    <!-- Advanced ------------------- -->
    <script>
      /**
        * Функція скриває/показує блок 
        **/
      function showHide(element_id) {
        //Если элемент с id-шником element_id существует
        if (document.getElementById(element_id)) { 
            //Записываем ссылку на элемент в переменную obj
            var obj = document.getElementById(element_id); 
            //Если css-свойство display не block, то: 
            if (obj.style.display != "none") { 
                obj.style.display = "none"; //Показываем элемент
            }
            else obj.style.display = "block"; //Скрываем элемент
        }
        //Если элемент с id-шником element_id не найден, то выводим сообщение
        else alert("Load with id: " + element_id + " doesn't exist!"); 
      } 
  </script>

  <script>
      // burger menu ---трансформація бутербродного меню в хрестик і назад
    $(function () {
      document.querySelector(".menu-icon-wrapper").onclick = function () {
        document.querySelector(".menu-icon").classList.toggle("menu-icon-active");
      };
    });
    // виїзд меню при натисканні на іконку бутербодного меню
    $(function () {
      $(".menu-icon-wrapper").on("click", function () {
        $(".menu-list").slideToggle(300, function () {
          if ($(this).css("display") === "block") {
            // $(this).removeAttr("style");
          }
        });
      });
    });
  </script>

</body>
</html>
